@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #222222;
}

ul {
  /*remove bullet point and default indent*/
  list-style-type: none;
  padding-left: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}

.left-links {
  display: flex;
  justify-content: space-evenly;
}

.right-links {
  display: flex;
  justify-content: space-evenly;
}

.header li, .footer li {
  padding: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttons button{
  padding: 5px 15px;
  margin: 0 5px;
}
